.card {
  width: 400px;
  margin: 50px auto;
  padding: 25px;
  border-radius: 10px;
  background: #f8f8f8;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #222;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

select,
input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
border-radius: 0px;
  background: #7b1e2b;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #5e1520;
}
.separator {
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 0px 0;
  padding: 0; 
}