body {
  background-color: #f2f2f2; /* gris clair */
  margin: 0;
  font-family: Arial, sans-serif;
}

.card {
  border-radius: 10px;
}

.h3 {
    color: #8B1E3F;
}
.btn-danger {
  background-color: #8B1E3F;
  border: none;
  border-radius: 5px;
}

.btn-dark {
  background-color: #8B1E3F;
  border-radius: 5px;
}

.separator {
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 0px 0;
  padding: 0; 
}

.disabled-btn {
  opacity: 0.5;     
  pointer-events: none; 
}